* {
  padding: 0;
  margin: 0;
  color: #fff;
}

.header-wrapper {
  background-color: #be3144;
  position: fixed;
  width: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name {
      padding: 5px 20px;
      display: flex;
      align-items: center;
      gap: 20px;
      .react-logo {
        width: 60px;
        height: 60px;
      }
      h1 {
        font-family: "Raleway", sans-serif;
        font-size: 30px;
      }
    }
    .nav-list {
      display: flex;
      margin: 20px;
      gap: 40px;
      font-family: "Poppins", sans-serif;
      li {
        cursor: pointer;
        list-style: none;
        font-size: 22px;
        font-weight: 600;
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.introduction-container {
  background-color: #303841;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .introduction {
    display: flex;
    .avatar {
      width: 150px;
    }
    .description-container {
      padding: 20px;
      .intro-name {
        font-family: "Poppins", sans-serif;
        font-size: 50px;
        font-weight: 800;
        padding: 10px 0px;
        text-align: center;
      }
      .intro-paragraph {
        font-family: "Poppins", sans-serif;
        width: 600px;
        font-weight: 600;
        text-align: center;
        width: 100%;
      }
      .skills-wrapper {
        padding: 30px 0px;
        font-family: "Raleway", sans-serif;
        .skills-list {
          display: grid;
          grid-template: auto/ repeat(3, 1fr);
          justify-content: center;
          border-color: #be3144;
          li {
            list-style: none;
            margin: 10px;
            font-weight: 600;
            border: solid 2px #be3144;
            display: flex;
            align-items: center;
            max-width: 140px;
            .skills-icons {
              width: 36px;
              height: 100%;
              background-color: #be3144;
            }
            p {
              width: fit-content;
              text-align: center;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}

.social-media {
  position: absolute;
  top: 300px;
  padding: 4px;
  box-shadow: #100304 0 5px 5px 0;
  background-color: #be3144;
  .socialmedia-icons {
    width: 50px;
    height: 50px;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
  }
  .socialmedia-icons:hover {
    background-color: #d96572;
  }
}

.projectlist-container {
  background-color: #45567d;
  width: 100%;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .projectlist-p {
    width: fit-content;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    border-bottom: 3px solid #fff;
  }
  .projectlist {
    display: flex;
    justify-content: center;
    .project {
      background: #303841;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      border-radius: 2px;
      margin: 20px;
      cursor: pointer;
      text-decoration: none;
      .project-image {
        height: calc(100% - 50px);
        width: 380px;
        object-fit: cover;
      }
      .project-title {
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        padding: 8px;
      }
    }
  }
}

.footer-container {
  background-color: #303841;
  width: 100%;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  .footer {
    margin-top: 100px;
    .footer-p {
      font-family: "Poppins", sans-serif;
      font-size: 48px;
      font-weight: 900;
      border-bottom: 3px solid #fff;
    }
    .contact-wrapper {
      display: flex;
      font-family: "Poppins", sans-serif;
      font-size: 24px;
      margin: 20px;
      .contact {
        display: flex;
        align-items: center;
        text-decoration: none;
        text-shadow: 2px 2px 1px #1f1f1f;
        padding: 20px;
        cursor: pointer;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        transition-delay: 0s;
        transition-property: transform;
      }
      .contact:hover {
        transform: translateY(8px);
      }
    }
  }
  .end-section-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 40px 0px;
    border-top: 3px solid #be3144;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    .made-by {
      display: flex;
      gap: 5px;
      align-items: center;
      padding: 5px;
    }
    .description {
      line-height: 1.4;
      padding: 10px;
    }
  }
}

@media screen and (max-width: 780px) {
  .header-wrapper {
    .header {
      display: flex;
      flex-direction: column;
      .name {
        width: 100%;
        align-self: baseline;
        padding: 10px;
        gap: 10px;
        border-bottom: #fff solid 2px;
        .react-logo {
          width: 40px;
          height: 40px;
        }
        h1 {
          font-size: 30px;
        }
      }
      .nav-list {
        margin: 10px;
        li {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }
  .introduction-container {
    .introduction {
      .avatar {
        width: 0px;
      }
      .description-container {
        padding: 0px;
        .intro-name {
          font-size: 28px;
          font-weight: 500;
        }
        .intro-paragraph {
          font-size: 16px;
          font-weight: 100;
        }
        .skills-wrapper {
          margin-left: 24px;
          .skills-list {
            display: grid;
            grid-template: auto/ repeat(2, 1fr);
            li {
              font-weight: 500;
              max-width: 120px;
              .skills-icons {
                width: 30px;
              }
              p {
                padding: 8px;
              }
            }
          }
        }
      }
    }
  }
  .projectlist-container {
    .projectlist-p {
      margin: 20px;
      font-size: 20px;
      border-bottom: 1px solid #fff;
    }
    .projectlist {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;
      .project {
        margin: 20px 0px;
        .project-image {
          width: 320px;
        }
      }
    }
  }

  .social-media {
    padding: 0px;
    .socialmedia-icons {
      width: 30px;
      height: 30px;
      padding: 0px;
    }
  }

  .footer-container {
    gap: 0px;
    .footer {
      margin-top: 60px;
      .footer-p {
        font-size: 26px;
        font-weight: 800;
        border-bottom: 2px solid #fff;
      }
      .contact-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        margin: 20px;
      }
    }
    .end-section-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: 12px;
    }
  }
}
