* {
  padding: 0;
  margin: 0;
  color: #fff;
}

.header-wrapper {
  background-color: #be3144;
  position: fixed;
  width: 100%;
  z-index: 2;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name {
      padding: 5px 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      .react-logo {
        width: 40px;
        height: 40px;
      }
      a {
        font-family: "Raleway", sans-serif;
        font-size: 26px;
        text-decoration: none;
      }
    }
    .nav-list {
      display: flex;
      margin: 20px;
      gap: 40px;
      font-family: "Poppins", sans-serif;
      li {
        cursor: pointer;
        list-style: none;
        font-size: 20px;
        font-weight: 600;
        -webkit-tap-highlight-color: transparent;
        a {
          -webkit-tap-highlight-color: transparent;
          text-decoration: none;
        }
        a:hover {
          color: #e87b88;
        }
      }
    }
    .hamburger {
      display: none;
      cursor: pointer;
      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all ease ease-in-out;
        transition: all ease ease-in-out;
        background-color: #fff;
      }
    }
  }
}

.introduction-container {
  background-color: #303841;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .introduction {
    display: flex;
    .avatar {
      width: 150px;
      height: 400px;
    }
    .description-container {
      padding: 20px;
      .intro-name {
        font-family: "Poppins", sans-serif;
        font-size: 50px;
        font-weight: 800;
        padding: 10px 0px;
        text-align: center;
      }
      .intro-paragraph {
        font-family: "Poppins", sans-serif;
        width: 600px;
        font-weight: 600;
        text-align: center;
        width: 100%;
      }
      .skills-wrapper {
        padding: 30px 0px;
        font-family: "Raleway", sans-serif;
        .skills-list {
          display: grid;
          grid-template: auto/ repeat(3, 1fr);
          justify-content: center;
          border-color: #be3144;
          li {
            list-style: none;
            margin: 10px;
            font-weight: 600;
            border: solid 2px #be3144;
            display: flex;
            align-items: center;
            max-width: 140px;
            .skills-icons {
              width: 36px;
              height: 100%;
              background-color: #be3144;
            }
            p {
              width: fit-content;
              text-align: center;
              padding: 10px;
            }
          }
        }
      }
    }
  }
}

.social-media {
  position: absolute;
  top: 300px;
  padding: 4px;
  box-shadow: #100304 0 5px 5px 0;
  background-color: #be3144;
  .socialmedia-icons {
    width: 50px;
    height: 50px;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
  }
  .socialmedia-icons:hover {
    background-color: #d96572;
  }
}

.projectlist-container {
  background-color: #45567d;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 100px 60px 100px;
  .projectlist-p {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    border-bottom: 3px solid #fff;
    margin-bottom: 60px;
  }
  .projectlist {
    display: grid;
    grid-template: auto/ repeat(3, 1fr);
    grid-gap: 50px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    .project {
      background: #303841;
      box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
      border-radius: 2px;
      cursor: pointer;
      text-decoration: none;
      border-radius: 20px;
      height: 300px;
      .project-image {
        height: calc(100% - 80px);
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
      }
      .project-title {
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        padding: 10px 0;
        span {
          padding: 8px;
          color: #303841;
          transition: color 0.3s ease-out;
        }
      }
    }
    .project:hover .code {
      color: #ff7f50;
    }
  }
}

.footer-container {
  background-color: #303841;
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  .footer {
    margin-top: 100px;
    .footer-p {
      font-family: "Poppins", sans-serif;
      font-size: 48px;
      font-weight: 900;
      border-bottom: 3px solid #fff;
    }
    .contact-wrapper {
      display: flex;
      font-family: "Poppins", sans-serif;
      font-size: 24px;
      margin: 20px;
      .contact {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 8px;
        text-shadow: 2px 2px 1px #1f1f1f;
        padding: 20px;
        cursor: pointer;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        transition-delay: 0s;
        transition-property: transform;
      }
      .contact:hover {
        transform: translateY(8px);
      }
    }
  }
  .end-section-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 30px 0px;
    border-top: 3px solid #be3144;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    .made-by {
      display: flex;
      gap: 5px;
      align-items: center;
      padding: 5px;
    }
    .description {
      line-height: 1.4;
      padding: 10px;
    }
  }
}

@media screen and (max-width: 860px) {
  .header-wrapper {
    .header {
      display: flex;
      .name {
        width: 100%;
        align-self: baseline;
        padding: 10px;
        gap: 10px;
        .react-logo {
          width: 40px;
          height: 40px;
        }
        h1 {
          font-size: 30px;
        }
      }
      .nav-list {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        margin: 0px;
        opacity: 0;
        top: 60px;
        background-color: #d96572;
        width: 100%;
        text-align: center;
        gap: 0px;
        li {
          padding: 10px 0px;
          font-size: 16px;
        }
      }
      .nav-list.active {
        opacity: 1;
      }
      .hamburger {
        display: block;
        padding: 12px;
      }
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
  .introduction-container {
    .introduction {
      .avatar {
        width: 0px;
      }
      .description-container {
        padding: 0px;
        .intro-name {
          font-size: 28px;
          font-weight: 500;
        }
        .intro-paragraph {
          font-size: 16px;
          font-weight: 100;
        }
        .skills-wrapper {
          margin-left: 24px;
          .skills-list {
            display: grid;
            grid-template: auto/ repeat(2, 1fr);
            li {
              font-weight: 500;
              max-width: 120px;
              .skills-icons {
                width: 30px;
              }
              p {
                padding: 8px;
              }
            }
          }
        }
      }
    }
  }

  .social-media {
    top: 200px;
    padding: 0px;
    .socialmedia-icons {
      width: 30px;
      height: 30px;
      padding: 0px;
    }
  }

  .projectlist-container {
    padding: 40px 0;
    .projectlist-p {
      margin-bottom: 40px;
      font-size: 22px;
      border-bottom: 2px solid #fff;
    }
    .projectlist {
      grid-template: auto/ repeat(1, 1fr);
      grid-gap: 0.5rem;
      .project {
        margin: 20px 0px;
        .project-image {
          height: calc(100% - 60px);
          width: 320px;
        }
        .project-title {
          padding: 10px 0;
          font-size: 22px;

        }
      }
    }
  }

  .footer-container {
    gap: 0px;
    .footer {
      margin-top: 60px;
      .footer-p {
        font-size: 26px;
        font-weight: 800;
        border-bottom: 2px solid #fff;
      }
      .contact-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        margin: 20px;
      }
    }
    .end-section-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: 12px;
    }
  }
}
